<footer class="font-small  pb-3  row">

          <div class='col-md col-auto text-left ml-3'>
              © 2018 TOUR POPSICLE
          </div>
          <div class='col-md col-auto text-center navbar-light'>
            <a href="https://www.iubenda.com/privacy-policy/17567915" target="_blank">PRIVACY POLICY</a>
          </div>
          <div class='col-md col-auto text-right navbar-light'>
            <a href="mailto:tourpopsicle@gmail.com" target="_blank">CONTACT</a>
          </div>


</footer>
<!--/.Footer-->

  <!-- <script src="../scripts/index.js"></script> -->
  </body>
</html>
