
<body>
  <div id="fb-root"></div>
    <script>

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=188770131749358&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));



    window.fbAsyncInit = function() {
      let done = false
      FB.init({
        appId      : '188770131749358',
        cookie     : true,
        xfbml      : true,
        version    : 'v2.12'
      });

      FB.AppEvents.logPageView();



      // getLoginStatus(true)
    }

    const getLoginStatus = (cookie = false) => {
      FB.getLoginStatus(function(response) {

        if (response.status === 'connected') {
          // console.log('login status was connected');
          if (!cookie) { //there was no cookie
            getUserInfo(response.authResponse)
          } else { //there was a cookie
            //nothing needs to happen?
          }
        }
        else {
                  // console.log('not connected ', response.status);
          FB.login()
        }
      })
    }

    const getUserInfo = (res) => {
      // console.log('res should be authresponse', res);
      let {accessToken} = res
      FB.api(`/me`, 'GET', {fields: 'first_name, last_name, email, id'}, resp => {
        // console.log(resp);
        if (resp.error) {
          if (resp.error.error_subcode === 466) {
            // console.log('user has deauthorized app')
             /// shouldn't end up here
            window.location.reload()
          }
        } else if (!resp.error) {
          let {first_name, last_name, email, id} = resp
          let name = `${first_name} ${last_name}`
          $.post(`/auth/login`, {name, email, accessToken, id}, data => {
            window.location.reload()
          })
        }
      })
    }

    // const logout = () => {
    //   $.post(`/auth/logout`, (data, status) => {
    //     window.location = data.redirectURL
    //     })
    //   }
  </script>
