
<body>
  <div id="fb-root"></div>
    <script>

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=188770131749358&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));



    window.fbAsyncInit = function() {
      let done = false
      FB.init({
        appId      : '188770131749358',
        cookie     : true,
        xfbml      : true,
        version    : 'v2.12'
      });

      FB.AppEvents.logPageView();


      FB.Event.subscribe('xfbml.render', function() {

        if (error !== 'No user cookie' || err !== 'User has deauthorized the App') {
          console.log('rendering login with user cookie and an error ', error);
          console.log('should automatically log in without spinner stopping');
          // setTimeout(function(){ getLoginStatus(); }, 2000); //wait for sdk to load
          getLoginStatus(true)
        } else if (!done) {
          console.log('user\'s accessToken is good til ', new Date(1524589200*1000).toString());
          console.log('but they have no user cookie. and so must log in');
          $('#spinner').css('display:none')
          $('.spinner').remove()
          $('.fb-login-button').show()
          done = true
        }
      })
      
    }

    const getLoginStatus = (cookie = false) => {
      FB.getLoginStatus(function(response) {
        console.log(response.status);
        if (response.status === 'connected') {
          console.log('login status was connected, logging in user to db');
          if (!cookie) { //there was no cookie
            getUserInfo(response.authResponse)
          } else { //there was a cookie
            //nothing needs to happen?
          }
        }
        else {
          FB.login()
        }
      })
    }

    const getUserInfo = (res) => {
      console.log('res should be authresponse', res);
      let {accessToken} = res
      FB.api(`/me`, 'GET', {fields: 'first_name, last_name, email, id'}, resp => {
        console.log(resp);
        if (resp.error) {
          if (resp.error.error_subcode === 466) {
            console.log('user has deauthorized app')
             /// shouldn't end up here
            window.location.reload()
          }
        } else if (!resp.error) {
          let {first_name, last_name, email, id} = resp
          let name = `${first_name} ${last_name}`
          $.post(`/auth/login`, {name, email, accessToken, id}, data => {
            window.location.reload()
          })
        }
      })
    }

    // const logout = () => {
    //   $.post(`/auth/logout`, (data, status) => {
    //     window.location = data.redirectURL
    //     })
    //   }
  </script>
