  <% include ./partials/header.ejs %>
  <% include ./partials/nav.ejs %>
  <body>
    <div class='container'>
      <div class='button-header'><button class='btn' id="searchBands">SEARCH BANDS</button>  <button class='btn' id="addBand">ADD A BAND</button></div>
      <!-- <div class='searchbox container-fluid' > -->
      <form id='bandSearchForm' style='display:inline;'>
        <div class='form-row'>
          <div class="input-group mb-3 col">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">State</span>
            </div>
              <select class="custom-select form-control stateSelector" name='state' default='Colorado'></select>
          </div>

          <div class="input-group mb-3 col">
            <div class="input-group-prepend">
              <span class="input-group-text">City</span>
            </div>
            <input type="text" name='city' class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
          </div>
          <div class="input-group mb-3 col">
            <div class="input-group-prepend">
              <span class="input-group-text">Band</span>
            </div>
            <input type="text" name='band' class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
          </div>
        </div>
        <div class='row'>
          <div class='input-group mb-3 col-11' >
            <div class='input-group-text genres' id='genreSelector'>
              <span class="capSelector">Genre</span>
            </div>
          </div>
          <div class="col-1">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    <!-- </div> -->



    <form id='addBandForm' style='display:none;'>
      <div class='form-row'>
        <div class="input-group mb-3 col">
          <div class="input-group-prepend">
            <span class="input-group-text">State</span>
          </div>
            <select class="custom-select form-control stateSelector" id='state'></select>
        </div>
        <div class="input-group mb-3 col">
          <div class="input-group-prepend">
            <span class="input-group-text">City</span>
          </div>
          <input type="text" name='city' class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3 col">
          <div class="input-group-prepend">
            <span class="input-group-text">Band</span>
          </div>
          <input type="text" name='band' class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
      </div>

      <div class='form-row'>
        <div class="input-group mb-3 col">
          <div class="input-group-prepend">
            <span class="input-group-text">URL</span>
          </div>
          <input type="text" name='url' class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3 col">
          <div class="input-group-prepend">
            <span class="input-group-text">FB</span>
          </div>
          <input type="text" name='fb' class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3 col">
          <div class="input-group-prepend">
            <span class="input-group-text">Bandcamp</span>
          </div>
          <input type="text" name='bandcamp' class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3 col">
          <div class="input-group-prepend">
            <span class="input-group-text">Spotify</span>
          </div>
          <input type="text" name='spotify' class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
      <div class='form-row'>
        <div class="input-group mb-3 col-11">
          <div class='input-group-text genres' id='addGenres'>
            <span class="capSelector">Genre (up to 4)</span>
          </div>
        </div>

        <div class="col-1">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>

    <h1> <span class='stateDisplay' style='display:none'></span></h1>

      <table class='table'>
        <thead>
          <tr>
            <th>state</th>
            <th>city</th>
            <th>band (click to fb)</th>
            <th>genre</th>
            <th>stars</th>
            <th>url</th>
            <th>bandcamp</th>
            <th>spotify</th>

          </tr>

        </thead>
        <tbody id='bandsList'>

        </tbody>
      </table>
    </div>

    <script src="./javascripts/searchform.js"></script>
    <script src="./javascripts/loadBands.js"></script>
  </body>
</html>
