  <% include ./partials/header.ejs %>
  <% include ./partials/nav.ejs %>
  <% include ./partials/sdk.ejs %>


    <div class='container-fluid'>
      <div class='row intro'>

          3. If you have venues you know or bands you love that aren't in the database, please add them, and feel free to upvote them
          to show support. The goal of this database is not to have EVERYTHING EVER listed. We want USEFUL information that will help
          us have better shows and better experiences booking tours.
        </p>
      </div>
      <div class='row'>
        <div class='dash col-4'>
          <h3>venues i've voted on</h3>
          <table id='votedDash' class='table table-sm'>
            <tbody id='dashVotes'>
            </tbody>
          </table>
        </div>

        <!-- <div class='dash col'>
          <h3>bands i've liked</h3>
          <table id='starredDash' class='table table-sm'>
            <tbody id='dashStars'>
            </tbody>

          </table>
        </div> -->

        </div>

        <div class='dash col'>

        </div>
      </div>

    </div>
    <script src='./javascripts/dash.js'></script>
  </body>

</html>
