<% include ./partials/header.ejs %>
<% include ./partials/nav.ejs %>
<% include ./partials/sdk.ejs %>

<div class='container mt-3'>
  <div class='row'>
    <div class='col-auto mx-auto'>
      <h3> Welcome to Tour Popsicle! </h3>
    </div>
  </div>
  <div class='row'>
    <div class='col-auto mx-auto'>
      <div class='button-header'>
        <button class='btn big-btn' id='mainVenueSearch'>SEARCH VENUES</button>
        <button class='btn big-btn' id='mainBandSearch'>SEARCH BANDS</button>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-auto mx-auto mb-3'>
        <h6> A note about searching venues and bands: </h6>
    </div>
    <div class='col-10 mx-auto mb-3'>
      <p>
        Many of the venues have incomplete information. The fields in a venue page may autofill with information we're pulling from Facebook.
        If you get to a venue page and there are suggestions for entries,please review and save them if they look correct.
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='col-auto mx-auto mb-3'>
        <h6> A note about adding venues and bands: </h6>
    </div>
    <div class='col-10 mx-auto mb-3'>
      <p>
        When you are adding venues or bands into the database, fields on your form may autofill with data from various sources.
        Our hope is that this will make it really easy for you to contribute.
      </p>
    </div>
  </div>
</div>
