<% include ./partials/header.ejs %>
<% include ./partials/nav.ejs %>
<!-- <% include ./partials/sdk.ejs %> -->

<div class='container main-container mt-3'>
  <div class='row'>
    <div class='col-auto mx-auto'>
      <h3> Welcome to Tour Popsicle! </h3>
    </div>
  </div>
  <div class='row'>
    <div class='col-auto mx-auto'>
      <div class='button-header'>
        <a href='/venues'><button class='btn big-btn'>SEARCH VENUES</button></a>
        <a href='/bands'><button class='btn big-btn'>SEARCH BANDS</button></a>
      </div>
    </div>
  </div>

</div>


  <% include ./partials/footer.ejs %>
