<!DOCTYPE html>
<html>
  <head>
    <title>What's this app called?</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>What's this app called</h1>
    <p>Welcome to whatever this app is called</p>


  </body>
</html>
