  <% include ./partials/header.ejs %>
  <% include ./partials/sdk.ejs %>

    <div class='login main-container container-fluid'>
      <h1> Welcome to Tour Popsicle! </h1>
      <div class='mt-3' style='text-align:center;'>
        <p>The easiest way to find venues and local bands for your next tour.</p>

      </div>

      <div class='row mb-3'>
        <div class="fb-login-button col-4 mt-3 mx-auto"  scope="public_profile,email" onlogin="getLoginStatus()" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
      </div>


      <div class='row mt-3'>
        <div class='col-12 mx-auto'>
          <h3> Tour Popsicle explained in 30 seconds </h3>
          <p>video here</p>
        </div>
      </div>

    </div>


<!--
  </body>

</html> -->
<% include ./partials/footer.ejs %>
