  <% include ./partials/header.ejs %>
  <% include ./partials/nav.ejs %>
  <!-- <% include ./partials/sdk.ejs %> -->


  <div class='container-fluid'>

    <h3> Settings</h3>

    <h5>Your Account</h5>
      <div>Name: <span id='userName'><%=userId%></span></div>
      <div>Email: <span id='userEmail'>user email will go here</span></div>
    <h5>Your Profile</h5>
      <div>Bio: <span id='userBio'>user Bio will go here</span></div>
      <div>Location: <span id='userLocation'>user location</span></div>
      <div>Previous Locations: <span id='prevLocations'>previous locations</span></div>
      <div>Current bands:<span id='currentBands'> current bands </span></div>
      <div>Previous bands:<span id='previousBands'> previous bands </span></div>
      <div>Favorite Venue:<span id='favoriteVenue'> fave fenue </span></div>


  </div>
  <script>
  const userId = '<%= userId%>'
  console.log('userId all the way in client side js', userId);
  </script>
  <script src="../../javascripts/settings.js"></script>

  <!-- </body>

</html> -->

<% include ./partials/footer.ejs %>
