  <% include ./partials/header.ejs %>
  <% include ./partials/nav.ejs %>
  <% include ./partials/sdk.ejs %>


    <div class='container-fluid'>

      <h1> Tour Popsicle User </h1>
      <!-- <table class='table' style='width:300px'>

      </table> -->

    </div>

<script src="./javascripts/loadUsers.js"></script>

  <!-- </body>

</html> -->

<% include ./partials/footer.ejs %>
