  <% include ./partials/header.ejs %>
  <% include ./partials/nav.ejs %>
  <body>

    <div id='venueInfo' class='container'>
    </div>

<script src="../javascripts/loadVenue.js"></script>

  </body>

</html>
