  <% include ./partials/header.ejs %>
  <% include ./partials/nav.ejs %>
  <body>
    <div class='container'>
      <div class='button-header'><button class='btn' id='searchVenues'>SEARCH VENUES</button>  <button class='btn' id='addVenue'>ADD A VENUE</button></div>
        <form id='venueSearchForm'>
          <div class='form-row'>
            <div class="input-group mb-3 col-12 col-md">
              <div class="input-group-prepend">
                <span class="input-group-text" id="venueState">State</span>
              </div>
                <select class="custom-select form-control stateSelector" name='state'></select>
            </div>
            <div class="input-group mb-3 col-12 col-md">
              <div class="input-group-prepend">
                <span class="input-group-text">City</span>
              </div>
              <input type="text" id='cityInput' name='city' class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3 col-12 col-md">
              <div class="input-group-prepend">
                <span class="input-group-text">Venue</span>
              </div>
              <input type="text" id='venueInput' name='venue' class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
          </div>
          <div class='row'>
            <div class='input-group mb-3 col-md-8 col-12 offset-md-1'>
              <!-- <div class=input-group-text > -->
                <span class="input-group-text capSelector">Capacity</span>

                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="capAny" value="any" checked>
                  <label class="form-check-label" for="any">Any</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input notany" type="checkbox" id="unlabeled" value="unlabeled">
                  <label class="form-check-label" for="unlabeled">Unknown</label>
                </div>
                <div class="form-check form-check-inline ">
                  <input class="form-check-input notany" type="checkbox" id="capxs" value="xsmall">
                  <label class="form-check-label" for="capxs">< 100</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input notany" type="checkbox" id="caps" value="small">
                  <label class="form-check-label" for="caps">101< 250</label>
                </div>
                <div class="form-check form-check-inline ">
                  <input class="form-check-input notany" type="checkbox" id="capm" value="medium">
                  <label class="form-check-label" for="capm">251 < 600</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input notany" type="checkbox" id="capl" value="large">
                  <label class="form-check-label" for="capl">601 < 1200</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input notany" type="checkbox" id="capxl" value="xlarge">
                  <label class="form-check-label" for="capxl">1200+</label>
                </div>
              <!-- </div> -->
            </div>
            <div class="col-1">
              <button type="submit" class="btn btn-default big-btn">Submit</button>
            </div>
          </div>
        </form>

      <form id='addVenueForm' style='display:none;'>
        <div class='form-row'>
          <div class="input-group mb-3 col-12 col-md">
            <div class="input-group-prepend">
              <span class="input-group-text">State</span>
            </div>
              <select class="custom-select form-control stateSelector" id='state'></select>
          </div>
          <div class="input-group mb-3 col-12 col-md">
            <div class="input-group-prepend">
              <span class="input-group-text">City</span>
            </div>
            <input type="text" name='city' class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
          </div>
          <div class="input-group mb-3 col-12 col-md">
            <div class="input-group-prepend">
              <span class="input-group-text">Venue</span>
            </div>
            <input type="text" name='venue' class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
          </div>
        </div>
        <div class='form-row'>
          <div class="input-group mb-3 col-12 col-md">
            <div class="input-group-prepend">
              <span class="input-group-text">URL</span>
            </div>
            <input type="url" name='url' class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
          </div>
          <div class="input-group mb-3 col-12 col-md">
            <div class="input-group-prepend">
              <span class="input-group-text">Booking Email</span>
            </div>
            <input type="email" name='email' class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
          </div>
          <div class="input-group mb-3 col-6 col-md-2">
            <div class="input-group-prepend">
              <span class="input-group-text">Capacity</span>
            </div>
            <input type="number" name='capacity' class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
          </div>
          <div class="form-check form-check-inline col-6 col-md-2">
            <input class="form-check-input" type="checkbox" id="diy" value="diy">
            <label class="form-check-label" for="diy">DIY</label>
          </div>

          <div class="col-1">
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
          <div id='errorMessage'></div>
        </div>
      </form>
      <h1> <span class='stateDisplay' style='display:none'></span> </h1>

        <table class='table table-hover'>
          <thead>
            <th width='10%'>state</th>
            <th width='15%'>city</th>
            <th width='30%'>venue</th>
            <th width='10%' class='d-none d-md-table-cell'>capacity</th>
            <th width='10%' class='d-none d-md-table-cell'><i class="material-icons md-24">thumb_up</i></th>
            <th width='10%' class='d-none d-md-table-cell'><i class="material-icons md-24">thumb_down</i></th>
          </thead>
          <tbody id='venuesList'>

          </tbody>
        </table>
    </div>



      <script src="./javascripts/searchform.js"></script>
      <script src="./javascripts/loadVenues.js"></script>

  </body>
</html>
