  <% include ./partials/header.ejs %>
  <% include ./partials/nav.ejs %>
  <body>

    <div id='venueInfo' class='container'>
      <div class='container' style="padding: 30px 0 0 ;"><h3 id='venueName'></h3></div>
    </div>

<script src="../javascripts/loadVenue.js"></script>

  </body>

</html>
