body {
  margin: 0;
  padding: 0;
  background-color:whitesmoke;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
html {
  font-size: 1rem;
}

/* @include media-breakpoint-up(sm) {
  html {
    font-size: 0.9rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.0rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.2rem;
  }
} */

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:focus {
  outline: none !important;
  box-shadow: none !important;
}
.voteVenue {
  min-width:261px;
}
#searchBands {
  background-color: lightblue;
}
#searchVenues {
  background-color: lightblue;
}

.edit-form {
  display:none;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
  /* background-color: white !important; */
}

.btn:active {
  outline: none !important;
  box-shadow: none !important;
  /* background-color: white !important; */
}

.btn:target {
  outline: none !important;
  box-shadow: none !important;
}

.thumb {
  background-color:whitesmoke;
}

.edit-btn {
  padding: 0;
  font-size: 0.65rem;
  margin: 0 auto;
  display:block;
}

.edit-all-btn {
  padding:3px;
  font-size:0.85rem;
}

#errorMessage {
  width: 200px;

}
/* .thumb:hover {
  box-shadow:none !important;
} */

.navbar {
  margin-bottom: 0;
  width: 100%;
  color: black;
  background-color:whitesmoke;
  border:0;
  /* border-bottom: 1px solid pink; */
}

/* .nav-link>a {
    color: grey;
}

.nav-link>a:hover {
    color:teal;
} */

.material-icons.md-18 {
font-size: 18px !important;
height: 18px !important;
width: 18px !important;
}
.material-icons.md-24 {
font-size: 24px !important;
height: 24px !important;
width: 24px !important;
}
.material-icons.md-36 {
font-size: 36px !important;
height: 36px !important;
width: 36px !important;
}
.material-icons.md-48 {
font-size: 48px !important;
height: 48px !important;
width: 48px !important;
}

.capSelector {
  margin-right: 15px !important;
}
.genres {
  flex-wrap: wrap;
}

.form-check-label {
  font-size: 0.8rem;
}

.login {
  margin-top:80px;
  width: 75%;
  /* display:inline-block; */
}

.half-login {
  margin:30px;
}

.login .btn {
  background-color: teal;
  color: light-grey;
}
.login-form {
  margin-top: 30px;
}

h1 {
  text-align:center;
}
h3 {
  text-align:center;
}
.alert {
  /* margin-bottom: 0; */
  /* display: inline-block; */
}
.button-header {
  margin:30px 0;
}
.url {
  font-size:0.8rem;
}
.genreList {
  max-width:75px;
  min-width:75px;
}
.form-control-static {
  padding: 7px 15px;
}

#venueInfo {
  padding: 10px 60px;
}
.form-group {
  margin-bottom: 0.5rem !important;
}
